<!DOCTYPE html>
<html lang="en">

<body>

  <%- include('partials/nav-bar') %>


  <form class="create-poll" method="POST" action="/users/createpoll">
    <div>
      <input type="text" name="title" placeholder="Enter your name" >
    </div>
    <div>
      <input type="email" name="email" id="" placeholder="Enter your email">
    </div>

    <!-- <div>
      <button id="add-choice-btn">Add Choice</button>
    </div> -->

    <div id="choices"></div>

    <button type="submit">Submit</button>
  </form>
</body>

</html>
