<!DOCTYPE html>
<html lang="en">

<body>

  <%- include('partials/nav-bar') %>

<div class="create-your-poll">

    <h1 class="title">New poll</h1>

    <h2 class="start-message">Let's create your new poll to start sharing.</h2>

    <h2 class="user-info-message">Input your information below.</h2>

    <form method="POST" action="/users/createpoll" class="create-poll" id="create-poll">

      <div class="user-info">
    <input type="text" id="name" class="input-field" name="name" placeholder="Name*">
    <input type="email" id="email" class="input-field" name="email" placeholder="Email*">

      </div>

      <div class="poll-info">
    <input type="text" id="poll-title" class="input-field" name="poll-title" placeholder="Title of your poll*">

    <input type="text" id="first-choice" class="input-field" name="mc1" placeholder="First Choice*">

    <input type="text" id="mc1-description" class="input-field" name="mc1" placeholder="Description (optional)">

    <input type="text" id="second-choice" class="input-field" name="mc2" placeholder="Second Choice*">

    <input type="text" id="mc2-description" class="input-field" name="mc2" placeholder="Description (optional)">

    <input type="text" id="third-choice" class="input-field" name="mc3" placeholder="Third Choice">

    <input type="text" id="mc3-description" class="input-field" name="mc3" placeholder="Description (optional)">
     </div>

     <div class="submission">
    <button id="submit-button" type="submit">Submit</button>
    </div>

  </form>

</div>

</body>

</html>


