<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>
    <%- include('partials/nav-bar') %>
  </head>

  <body>
    <p></p>
    <p></p>
    <p></p>
    <!-- views/results.ejs -->
    <h1>All Poll Results</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Created By</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((result) => { %>
        <tr>
          <td><%= result.title %></td>
          <td><%= result.name %></td>
          <td><%= result.rank %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
