.view-results {
  padding: 200px;
  margin-top: 200px;
  margin-bottom:100px;
  width: 80%;
  font-size: larger;
  background-color: #e4e7f0;
  font-weight: 400;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
